<!-- <ion-header>
  <ion-navbar>
    <ion-title> Sync & Settings </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content>
  <ion-list>
    <ion-item-divider class="sticky" color="light"> Nickname </ion-item-divider>
    <ion-item>
      <ion-label floating>Nickname</ion-label>
      <ion-input [(ngModel)]="favoriteService.nickname" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <button
        ion-button
        color="primary"
        full
        round
        (click)="favoriteService.save()"
      >
        Save
      </button>
    </ion-item>
    <ion-item-divider class="sticky" color="light">Friends</ion-item-divider>
    <ion-item>
      <ion-label floating>Friend ID</ion-label>
      <ion-input [(ngModel)]="friend_id" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <button ion-button color="secondary" full round (click)="onAddFriend()">
        Add Friend
      </button>
    </ion-item>
    <ion-item *ngFor="let f of favoriteService.friends">
      <!-- <ion-label>{{f}}</ion-label> -->
      <span (click)="openFriendsSchedule(f)"
        >{{favoriteService.friendsNicks.get(f) ?
        favoriteService.friendsNicks.get(f) : f}}</span
      >
      <ion-icon
        name="trash"
        (click)="onDeleteFriend(f)"
        class="f-del"
      ></ion-icon>
    </ion-item>
    <ion-item-divider class="sticky" color="light">
      Sync
      <ion-icon
        name="create"
        (click)="editUUID ? editUUID = false: editUUID = true"
        class="f-del"
      ></ion-icon>
    </ion-item-divider>
    <ion-item>
      <small>
        Simply add a session as favorite to generate your sync id.<br />
        Sync is powered by
        <a href="https://getpantry.cloud/" target="_blank">getpantry.cloud</a>.
        All data is public.<br />
        Go to the site and visit dashboard for the following id<br />
        to be able to remove your data:<br />
        <code>{{ this.favoriteService.pantryId }}</code>
      </small>
    </ion-item>
    <ion-item>
      <ion-label floating>UUID</ion-label>
      <ion-input
        [(ngModel)]="favoriteService.uuid"
        type="text"
        [disabled]="!editUUID"
      ></ion-input>
    </ion-item>
    <ion-item *ngIf="editUUID">
      <button ion-button color="secondary" full round (click)="saveUUID()">
        Save
      </button>
    </ion-item>
    <ion-item-divider class="sticky" color="light">Source</ion-item-divider>
    <ion-item>
      <span class="break">
        Based on data from
        <a target="_blank" [attr.href]="fahrplan.baseUrl">fahrplan</a> in
        version {{fahrplan.version}}.
      </span>
      <!-- <span class="break">
        Based on data from c3vox
        <a target="_blank" href="https://pretalx.c3voc.de/rc3-2021/schedule"
          >pretalx schedule</a
        >.
      </span> -->
    </ion-item>
    <ion-item-divider class="sticky" color="light">NFO</ion-item-divider>
    <ion-item>
      <span class="break">
        Developed with <ion-icon name="heart"></ion-icon> by
        <a target="_blankt" href="https://github.com/jgerstbe">@jgerstbe</a> on
        <a target="_blankt" href="https://github.com/jgerstbe/fahrplan-ccc"
          >github</a
        >.
      </span>
    </ion-item>
  </ion-list>
</ion-content>
